@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/subset-PTRootUI-Bold.woff2') format('woff2'),
    url('/fonts/PT-Root-UI/subset-PTRootUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/subset-PTRootUI-Medium.woff2') format('woff2'),
    url('/fonts/PT-Root-UI/subset-PTRootUI-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI VF', sans-serif;
  src:
    url('/fonts/PT-Root-UI/subset-PTRootUIVF.woff2') format('woff2'),
    url('/fonts/PT-Root-UI/subset-PTRootUIVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/subset-PTRootUI-Regular.woff2') format('woff2'),
    url('/fonts/PT-Root-UI/subset-PTRootUI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('/fonts/PT-Root-UI/subset-PTRootUI-Light.woff2') format('woff2'),
    url('/fonts/PT-Root-UI/subset-PTRootUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
