.chat-auth {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10vh 16px;

  &__wrapper {
    position: relative;
    display: flex;
    z-index: 2;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }

  h3 {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.42;

    @include r($md) {
      font-size: 20px;
    }
  }

  &__btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background: tomato;
    cursor: pointer;
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 480px;
    margin: auto;

    h5 {
      flex: 0 0 100%;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
    }

    input {
      flex: 1 1 60%;
      padding: 10px 14px;
      line-height: 1;
      border: 0;
      border-radius: 4px 0 0 4px;
    }

    button {
      flex: 1 0 auto;
      text-align: center;
      border-radius: 0 4px 4px 0;
    }
  }
}

///////////////////////////////////////////////////////////
///
.lk-content__content {
  position: relative;
}

///
.loader {
  &__wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }

  &.inline {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 32px 0;

    &._active {
      display: flex;
    }
  }

  &.line {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 0;
    height: 6px;
    background: #1f75ea;
    pointer-events: none;

    .loader__wrapper {
      display: none;
    }

    &._active {
      animation: getWidth 1.6s ease-in infinite;
    }
  }

  @keyframes getWidth {
    100% {
      width: 100%;
    }
  }

  &.page {
    position: absolute;
    display: flex;
    z-index: 99;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    inset: 0;

    .loader-animation {
      font-size: 56px;
    }

    &._active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.loader-animation {
  position: relative;
  width: 0.15em;
  height: 0.15em;
  font-size: 32px;
  border-radius: 100%;
  background-color: currentcolor;
  animation: loader-39-1 30s infinite linear;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 0.3em;
    height: 1em;
    animation: loader-39-2 0.8s linear infinite;
  }

  &::after {
    width: 1em;
    height: 0.3em;
    animation: loader-39-2 1.2s linear infinite;
  }
}

@keyframes loader-39-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-39-2 {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }

  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
  }

  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
  }

  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
  }

  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
}

// .modal {
//   position: fixed;
//   overflow: hidden;
//   display: flex;
//   top: 0;
//   left: 0;
//   z-index: 1000;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
//   overflow-y: auto;
// }

// .modal--active {
//   opacity: 1;
//   pointer-events: all;
// }

// .modal__block {
//   position: relative;
//   z-index: 2;
//   width: 100%;
//   max-width: 402px;
//   margin: 40px auto;
//   text-align: center;
//   background: var(--block-bg);
//   border-radius: 10px;
//   box-shadow: var(--block-shadow);
// }

// .modal__form .login__input:not(:first-child) {
//   margin-top: 16px;
// }

// @media only screen and (width <= 767px) {
//   .modal__block {
//     padding: 30px 20px;
//   }
// }

// @media only screen and (width >= 768px) {
//   .modal__block {
//     padding: 52px 38px;
//   }
// }

// .modal__title {
//   margin: 0 0 18px;
//   font-weight: 600;
//   line-height: 1.3;
// }

// @media only screen and (width <= 767px) {
//   .modal__title {
//     font-size: 16px;
//   }
// }

// @media only screen and (width >= 768px) {
//   .modal__title {
//     font-size: 18px;
//   }
// }

// .modal__text {
//   font-weight: normal;
//   line-height: 1.3;
// }

// @media only screen and (width <= 767px) {
//   .modal__text {
//     font-size: 14px;
//   }

//   .modal__text-padding {
//     padding: 20px 0 8px;
//   }
// }

// @media only screen and (width >= 768px) {
//   .modal__text {
//     font-size: 16px;
//   }
// }

// .modal__btns {
//   display: flex;
//   justify-content: center;
//   justify-content: space-between;
//   align-items: center;
//   margin: 24px 0 0;
//   gap: 10px 0;
// }

// .modal__btns > * {
//   flex: 0 0 auto;
//   width: calc(50% - 10px);
// }

// .modal__btns > *:only-child {
//   margin: auto;
// }

// .modal__close {
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   background: var(--blue);
//   border: 0;
//   border-radius: 10px;
//   cursor: pointer;
//   user-select: none;
//   outline: none;
// }

// @media only screen and (width <= 767px) {
//   .modal__close {
//     top: 10px;
//     right: 10px;
//   }
// }

// @media only screen and (width >= 768px) {
//   .modal__close {
//     top: 20px;
//     right: 20px;
//   }
// }

// .modal__close::before,
// .modal__close::after {
//   position: absolute;
//   content: '';
//   top: 50%;
//   left: 50%;
//   width: 20px;
//   height: 1.5px;
//   background: var(--white);
//   border-radius: 0.75px;
//   transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
// }

// .modal__close::before {
//   transform: translate3d(-50%, -50%, 0) rotate(-45deg);
// }

// .modal__close::after {
//   transform: translate3d(-50%, -50%, 0) rotate(45deg);
// }

// @media (pointer: fine) {
//   .modal__close:hover {
//     opacity: 0.7;
//     transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
//   }
// }

// .modal__block--text {
//   max-width: 1056px;
//   padding: 20px;
//   text-align: left;
// }

// .fader {
//   position: absolute;
//   inset: 0;
//   z-index: 1;
//   background: rgb(69 114 238 / 10%);
//   border-radius: inherit;
//   opacity: 0;
//   pointer-events: none;
//   backface-visibility: hidden;
//   transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
//   backdrop-filter: blur(10px);
// }

// .fader--active {
//   opacity: 1;
//   pointer-events: all;
// }
