/* stylelint-disable keyframes-name-pattern */
.chat-auth {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10vh 16px;

  &__wrapper {
    position: relative;
    display: flex;
    z-index: 2;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }

  h3 {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.42;

    @include r($md) {
      font-size: 20px;
    }
  }

  &__btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background: tomato;
    cursor: pointer;
  }

  &__minion {
    margin-top: 12px;

    a {
      color: white;
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 480px;
    margin: auto;

    h5 {
      flex: 0 0 100%;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
    }

    input {
      flex: 1 1 60%;
      padding: 10px 14px;
      line-height: 1;
      border: 0;
      border-radius: 4px 0 0 4px;
    }

    button {
      flex: 1 0 auto;
      text-align: center;
      border-radius: 0 4px 4px 0;
    }
  }
}

///////////////////////////////////////////////////////////
///
.lk-content__content {
  position: relative;
}

///
.loader {
  &__wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }

  &.inline {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 32px 0;

    &._active {
      display: flex;
    }
  }

  &.line {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 0;
    height: 6px;
    background: #1f75ea;
    pointer-events: none;

    .loader__wrapper {
      display: none;
    }

    &._active {
      animation: getWidth 1.6s ease-in infinite;
    }
  }

  @keyframes getWidth {
    100% {
      width: 100%;
    }
  }

  &.page {
    position: absolute;
    display: flex;
    z-index: 99;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    inset: 0;

    .loader-animation {
      font-size: 56px;
    }

    &._active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.loader-animation {
  position: relative;
  width: 0.15em;
  height: 0.15em;
  font-size: 32px;
  border-radius: 100%;
  background-color: currentcolor;
  animation: loader-39-1 30s infinite linear;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 0.3em;
    height: 1em;
    animation: loader-39-2 0.8s linear infinite;
  }

  &::after {
    width: 1em;
    height: 0.3em;
    animation: loader-39-2 1.2s linear infinite;
  }
}

@keyframes loader-39-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-39-2 {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }

  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
  }

  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
  }

  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
  }

  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
}

.delay-input {
  display: flex;
  grid-gap: 10px;
}
